{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
{% endblock %}

<body>
<nav>

    <div class="nav-bar" >
            <ul class="navbar-ul">
                <a href="{{ path('home') }}">
                    <img id="logoImg" src="/images/logo/HomelyV2.png" alt="Logo Homely">
                </a>
            </ul>
            <div class="navbar-right">
                <ul class="navbar-ul">
                    <span style="padding-right: 2em;"><i class="fas fa-globe-americas"></i> <i class="fas fa-chevron-down"></i></span>
                    <a class="cool-link" href="{{ path('locations') }}"> Louer un bien</a>
                    <a class="cool-link" href=""> Acheter un bien</a>
                    <a class="cool-link" href=""> A propos</a>
                </ul>
                {%  if app.user %}
                <ul class="navbar-ul">
                    <div class="dropdown">
                        <div id="userBlock" class="dropbtn" onclick="Dropdown()" >
                            <span> {{ app.user.username }}</span>
                            <img id="userImg" src="/images/Users/default_user.png" alt="Image Utilisateur Défault">
                        </div>
                        <div class="dropdown-content" id="UserDropdown">
                            <a href="#">Éditer mon profil</a>
                            <a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter</a>
                        </div>
                    </div>
                </ul>


                {% else %}

                <ul class="navbar-ul">
                    <div id="nav-connect">
                        <li class="nav-item">
                            <a class="cool-link" href="{{ path('app_login') }}" class="cool-link">Se connecter</a>
                        </li>
                        <li class="nav-item">
                            <a class="cool-link" href="{{ path('register') }}" class="cool-link">S'inscrire</a>
                        </li>
                    </div>

                </ul>

                {% endif %}

            </div>
    </div>
</nav>
<div class="box">
    <div class="shape">
        <h1>Quelle nouvelle vie vous ferait envie?</h1>
        <div class="textchange" id="textchange1">
            <h2>Un chalet sur l'eau ?</h2>
            <h5>Lac Barrière, Canada</h5>
        </div>
        <div class="textchange" id="textchange2">
            <h2>Une maison autonome ?</h2>
            <h5>Traputtun, îles Féroé</h5>
        </div>
        <div class="textchange" id="textchange3">
            <h2>Une maison en hauteur ?</h2>
            <h5>Mézos, France</h5>
        </div>
    </div>
    <div id="bkgimg" >
    </div>
</div>

<script src="/js/main.js"></script>
</body>