{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
{% endblock %}


{% block body %}
    <div class="body">
        <div class=" container pt-5">


            <div class="container col-md-6 p-5 container-login">
                {{ form_start(registrationForm, {'attr': {'class': 'validate-form'}}) }}
                <h1 class="h3 mb-3 text-center font-weight-normal">S'inscrire</h1>
                <div class="validate-input">
                    <span>Identifiant</span>
                    {{ form_widget(registrationForm.username, {'attr': {'placeholder':'Votre identifiant..','class':"form-control form-login"}}) }}

                </div>
                <div class="validate-input">
                    <span>Email</span>
                    {{ form_widget(registrationForm.email, {'attr': {'placeholder':'Votre email..','class':"form-control form-login"}}) }}
                </div>

                <div class="validate-input">
                    <span>Mot de passe</span>
                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'placeholder':'*********','class':"form-control form-login"}}) }}
                </div>
                <div class="validate-input" >
                    <span>Répétez le mot de passe</span>
                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'placeholder':'*********','class':"form-control form-login"}}) }}
                </div>

                <div>
                    <div>
                        <div></div>
                        <button type="submit" class="btn btn-lg btn-primary mt-5">
                            S'inscrire
                        </button>
                    </div>
                    {{ form_end(registrationForm) }}
                    <div class="divconnect">Déja un compte ? <a class="cool-link connectlink" href="{{ path('app_login') }}" >
                            Se connecter</a>
                    </div>

                </div>


            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}